<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="MoneyCounterApp">
<head>
    <title>Money Counter</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="moneycounter.css" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="Scripts/moment.js"></script>
    <script src="Scripts/moneycounter.js"></script>
    <style>

    </style>
</head>
<body class="background-light text-dark">
    <div class="container mcapp-container" ng-controller="AppController">
        
        <!-- Navigation bar -->
        <nav class="navbar navbar-default mcapp-navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <span class="navbar-brand">Money Counter</span>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li ng-class="visibleView == 'Transactions' ? 'active' : ''"><a href="" ng-click="visibleView = 'Transactions'">Transactions</a></li>
                        <li ng-class="visibleView == 'Statistics' ? 'active' : ''"><a href="" ng-click="visibleView = 'Statistics'">Statistics</a></li>
                        <li ng-class="visibleView == 'Recurrences' ? 'active' : ''"><a href="" ng-click="visibleView = 'Recurrences'">Recurrences</a></li>
                        <li ng-class="visibleView == 'Categories' ? 'active' : ''"><a href="" ng-click="visibleView = 'Categories'">Categories</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="">Sign up</a></li>
                        <li><a href="">Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Transaction view -->
        <div class="container mclist-container background-dark" ng-controller="TransactionsController" ng-show="visibleView == 'Transactions'">

            <form class="form-inline mclist-input" ng-class="showEditForm ? 'background-highlight' : 'background-light'" ng-submit="showEditForm ? editTransaction() : addTransaction()">
                <input class="form-control" type="date" ng-model="transactionDateInput" required />

                <select class="form-control" ng-model="transactionCategoryInput">
                    <option value="{{c.Id}}" ng-repeat="c in transactionTypeInput == 'expense' ? categoryExpenseList : categoryIncomeList">{{c.Name}}</option>
                </select>
                
                <input class="form-control" type="text" placeholder="Description" ng-model="transactionDescriptionInput" />

                <input class="form-control" type="number" step="0.01" min="0.00" placeholder="0.00" ng-model="transactionAmountInput" required />
                
                <select class="form-control" ng-model="transactionTypeInput" ng-change="setDefaultCategory()">
                    <option value="expense">Expense</option>
                    <option value="income">Income</option>
                </select>

                <button type="submit" class="btn btn-default" ng-hide="showEditForm">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
                <div class="form-group" ng-show="showEditForm">
                    <button type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-ok"></span>
                    </button>
                    <button type="button" class="btn btn-default" ng-click="closeEditTransaction()">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
            </form>

            <table class="table table-condensed mclist-table background-light">
                <thead>
                    <tr>
                        <th class="mclist-table-date" ng-click="transactionOrdering = 'Date'">Date</th>
                        <th class="mclist-table-category" ng-click="transactionOrdering = 'Category.Name'">Category</th>
                        <th class="mclist-table-desc" ng-click="transactionOrdering = 'Description'">Description</th>
                        <th class="mclist-table-amount" ng-click="transactionOrdering = 'Type == \'income\' ? Amount : -Amount'">Amount</th>
                        <th class="mclist-table-buttons"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="t in transactionList | orderBy: transactionOrdering">
                        <td class="mclist-table-date">{{t.Date}}</td>
                        <td class="mclist-table-category" style="color: {{t.Category.Color}}">{{t.Category.Name}}</td>
                        <td class="mclist-table-desc">{{t.Description}}</td>
                        <td class="mclist-table-amount text-{{t.Type}}">{{t.Amount.toFixed(2)}}</td>
                        <td class="mclist-table-buttons">
                            <span class="btn-group">
                                <button type="button" class="btn btn-default" ng-click="showEditTransaction(t)">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                                <button type="button" class="btn btn-default" ng-click="deleteTransaction(t.Id)">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
            
        </div>

        <!-- Statistics view -->
        <div class="container mclist-container background-dark" ng-controller="StatisticsController" ng-show="visibleView == 'Statistics'">

        </div>

        <!-- Recurrences view -->
        <div class="container mclist-container background-dark" ng-controller="RecurrencesController" ng-show="visibleView == 'Recurrences'">

        </div>

        <!-- Categories view -->
        <div class="container mclist-container background-dark" ng-controller="CategoriesController" ng-show="visibleView == 'Categories'">

        </div>

    </div>

</body>
</html>
