/* color scheme */
.background-light {
    background-color: #F0EFED;
}
.background-dark {
    background-color: #990000;
}
.background-highlight {
    background-color: #FF3300;
}
.text-light {
    color: #F0EFED;
}
.text-dark {
    color: #343434;
}
.text-expense {
    color: red;
}
.text-income {
    color: green;
}
/* end color scheme */

.mcapp-container {
    min-width: 600px;
    width: 60%;
    height: 100vh;
}

.mcapp-navigation {
    margin-bottom: 0px;
}

.mclist-container {
    width: 100%;
    padding: 15px;
}
.mclist-input {

}
.mclist-table {
    width: 100%;
    margin-bottom: 0px;
}
.mclist-input .mclist-table tbody tr td {
    border-top: none;
}

.mclist-table-date {
    width: 1px;
}
.mclist-table-category {
    width: 1px;
    text-align: right;
}
.mclist-table-desc {
    width: auto;
}
.mclist-table-amount {
    width: 80px;
    text-align: right;
}
.mclist-table-buttons {
    width: 89px;
}

.mclastitem-false:after {
    content: ', ';
}

.btn-add {
    background-image: url(res/add-icon.png);
}
.btn-confirm {

}
.btn-cancel {

}
.btn-edit {
    background-image: url(res/edit-icon.png);
}
.btn-delete {
    background-image: url(res/delete-icon.png);
}
.btn-delete:hover {
    background-color: red;
}
.btn-add, .btn-confirm, .btn-cancel {
    width: 32px;
    height: 32px;
}
.btn-edit, .btn-delete {
    width: 24px;
    height: 24px;
}
.btn-add, .btn-confirm, .btn-cancel, .btn-edit, .btn-delete {
    border: none;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0);
}

.text-expense:before {
    content: '€-';
}

.text-income:before {
    content: '€';
}